:root {
    --light-grey: #E2E2E2;
    --orange: #FFA53B;
    --pink: #FF738E;
    --teal: #00C4CC;
    --purple: #AA02FF;
    --dark-purple: #6422B8;
    --yellow: #FFD93B;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
}

.bg-grey {
    background: var(--light-grey);
}

.bg-orange {
    background: var(--orange);
}

.bg-pink {
    background: var(--pink);
}

.bg-teal {
    background: var(--teal);
}

.bg-purple {
    background: var(--purple);
}

.bg-dk-purple {
    background: var(--dark-purple);
}

.bg-yellow {
    background: var(--yellow);
}

h6 {
    font-weight: 100;
}

.box {
height: 250px;
}

.hero {
    background-image: url('hero.jpg');
    background-repeat: none;
}

.hero h1 {
    font-size: 62px;
}
